.header {
	text-align: center;
	padding-left: 100px;
	width: 30%;
}

.nome {
	width: 30px;
	padding-right: 100px;
}

.descricao {
	padding: 100px;
}

.corpo {
	text-align: center;
}

.acoes {
	text-align: right;
}