@import
	url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
	;

.header {
	text-align: center;
	width: 28%;
}

.headerRel {
	text-align: center;
	width: 31%;
	padding-left: 26px;
}

.headerAtv {
	text-align: center;
	width: 35%;
	padding-left: 35px;
}

.headerRelAtv {
	text-align: center;
	width: 60%;
	padding-left: 60px;
}

.bodyText {
	width: 30%;
	text-align: left;
	font-style: normal;
}

.bodyDate {
	text-align: right;
}

.bodyNumber {
	text-align: right;
}

.nome {
	width: 30px;
	padding-right: 100px;
}

.descricao {
	padding: 100px;
}

.corpo {
	text-align: center;
}

.acoes {
	text-align: center;
	with: 30%;
	padding: 50px;
}

.tabelaCadastro {
	padding-left: 15px;
}

.editalInfo {
	text-align: justify;
	padding-left: 30%;
}